* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #f4f7fb;
    color: #1e293b;
}

/* SIDEBAR */

.sidebar {
    position: fixed;
    left: 0;
    top: 0;

    width: 230px;
    height: 100vh;

    background: #0f2747;
    color: white;

    padding: 20px;
}

.sidebar h2 {
    margin-bottom: 30px;
}

.sidebar button {
    display: block;

    width: 100%;

    margin: 8px 0;

    padding: 13px;

    border: none;
    border-radius: 8px;

    background: transparent;
    color: white;

    text-align: left;

    cursor: pointer;
}

.sidebar button:hover {
    background: #1d4ed8;
}


/* MAIN */

main {
    margin-left: 230px;
    padding: 25px;
}


/* HEADER */

header {
    display: flex;

    justify-content: space-between;
    align-items: center;

    margin-bottom: 25px;
}

header h1 {
    margin: 0;
}


/* PAGES */

.page {
    display: none;
}

.page.active {
    display: block;
}


/* CARDS */

.cards {
    display: grid;

    grid-template-columns:
        repeat(4, 1fr);

    gap: 18px;
}

.card {
    background: white;

    padding: 22px;

    border-radius: 14px;

    box-shadow:
        0 3px 15px rgba(0,0,0,0.08);
}

.card span {
    font-size: 30px;
}

.card p {
    color: #64748b;
}

.card h2 {
    font-size: 30px;

    color: #1d4ed8;
}


/* PANEL */

.panel {
    background: white;

    margin-top: 22px;

    padding: 22px;

    border-radius: 14px;

    box-shadow:
        0 3px 15px rgba(0,0,0,0.08);
}


/* FORM */

form {
    display: grid;

    grid-template-columns:
        repeat(3, 1fr);

    gap: 12px;
}

input,
select {
    padding: 12px;

    border: 1px solid #cbd5e1;

    border-radius: 7px;
}


button {
    padding: 11px 16px;

    border: none;

    border-radius: 7px;

    background: #1d4ed8;

    color: white;

    cursor: pointer;
}

button:hover {
    background: #173ea5;
}


/* TABLE */

table {
    width: 100%;

    border-collapse: collapse;
}

th,
td {
    padding: 12px;

    border-bottom:
        1px solid #e2e8f0;

    text-align: left;
}

th {
    background: #eff6ff;
}


/* MOBILE */

@media(max-width:900px) {

    .cards {
        grid-template-columns:
            repeat(2, 1fr);
    }

    form {
        grid-template-columns:
            repeat(2, 1fr);
    }
}


@media(max-width:600px) {

    .sidebar {
        position: static;

        width: 100%;

        height: auto;
    }

    main {
        margin-left: 0;
    }

    .cards {
        grid-template-columns: 1fr;
    }

    form {
        grid-template-columns: 1fr;
    }
}